<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="numAIDevs" value="4"/>
    <add key="numDIDevs" value="2"/>
    <!--
    Should be this
    <add key="sampleTime" value="5.7"/>
    -->
    <add key="sampleTime" value="1"/>
    <!--
    Should be this
    <add key="loggingTime" value ="27"/>
    -->
    <add key="loggingTime" value ="5"/>
    <add key="minAIVolt" value="0"/>
    <add key="maxAIVolt" value="1"/>
    <add key="numBitsAI" value="10"/>
    <add key="aIFilterLen" value="5"/>
    <add key="dataLogDelim" value=","/>
    <add key="sysTimeUpdateInterval" value="0.2"/>
  </appSettings>
</configuration>